@{
    Layout = null;
    var url = ViewBag.url;
    var classTableName = string.IsNullOrEmpty(ViewBag.classTableName)?"课程表":ViewBag.classTableName;
  
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>课程表</title>

    <link href="~/Content/fullcalendar-3.2.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar-3.2.0/fullcalendar.print.css" rel="stylesheet"  media='print' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/AdminLTE-2.3.11/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <script src="~/Content/fullcalendar-3.2.0/lib/moment.min.js"></script>
    <script src="~/Content/fullcalendar-3.2.0/lib/jquery.min.js"></script>
    <script src="~/Content/fullcalendar-3.2.0/fullcalendar.min.js"></script>
    <script src="~/Content/fullcalendar-3.2.0/locale-all.js"></script>
    <script src="~/Content/fullcalendar-3.2.0/lib/jquery-ui-1.10.2.custom.min.js"></script>



    <script>

	$(document).ready(function() {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var t = date.getTime();
        //初始化日历
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'agendaWeek'
            },
            titleFormat: '[2017-2018 学年 第一学期 ]',
			height: 910,
            theme:false,//是否使用jq-ui
            slotDuration: '01:00:00',
			defaultView: 'agendaWeek',
			allDaySlot: false,
			firstday: 0,//设置一周从什么时候开始，默认0是周日
		    firstHour:'00:00',//设置一天的开始时间是几点
		    minTime: '00:00',
		    maxTime: '24:00',
			defaultDate: date,
			locale: 'zh-cn',//使用中文
			editable: false,//禁止拖拽
			droppable: false,
			navLinks: false,
			disableDragging: false,
			eventStartEditable: false,  //是否允许调整日程的开始时间
			eventDurationEditable:false,//是否允许调整日程的结束时间
			buttonIcons: false, // show the prev/next text
			weekNumbers: false,//设置日程表是否显示当前第几周
			weekNumbersWithinDays: true,
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: false, // allow "more" link when too many events
			displayEventTime: false,
			buttonText: {
			    today: '今天',
                week: '周',
                prev: '上周',
                next: '下周',
			},
			eventClick: function(event) {
			    if (event.url) {
			        return false;
			    }
			},
			eventSources: [
                 {
                     url: '/Home/GetClass',
                     type: 'GET',
                     error: function () {
                         console.log("发生错误")
                     },
                 }
			],
		
		 });
        //上一周
		$('#calendar').find('.fc-prev-button').click(function () {
		})
        //下一周
		$('#calendar').find('.fc-next-button').click(function () {
        })
       
	});
    </script>
    <style>
        .fc-title {
            text-align: left;
            font-size: 2px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height:100%;
            display:table-cell;
            vertical-align:middle;
            line-height:20px;
        }

        .fc-time {
            text-align: center;
            /*display:none!important;*/
        }

        .fc-content {
            margin:3% 0 0 10%!important;
            font-size: 15px;
            height:100%;
            display:table;
        }
        
        .fc-event {
            background-color: #15a563;
            border-color: #15a563;
        }
           .fc-widget-content {
            height: 33.3333333px !important;
        }
        #top {
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            font-size: 12px;
        }

        #calendar {
            margin: 10px  auto 0 auto;
            padding: 0 10px;
        }

        .ml-12 {
            margin: 0 0 0 12%;
        }



        .divjc {
            /*display: none;*/
            position: absolute;
            width: 92px;
            top: 82px;
            left: 10px;
            background-color: #fff;
            z-index: 99999;
            border-color: #ddd;
            background: #fafafa;
            color: #15a563;
        }

            .divjc .divsw {
                height: 342px;
                border: 1px solid #333;
            }

            .divjc .divxw {
                height: 226px;
                border: 1px solid #333;
            }

            .divjc .divws {
                height: 120px;
                border: 1px solid #333;
            }

        .divam {
            padding-top: 185px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }
          .divclassam {
            float: right;
            width: 50%;
            height: 100%;
        }
        .divpm {
            padding-top: 103px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }
         .divclasspm {
            float: right;
            width: 50%;
            height: 100%;
        }
        .divmm {
            padding-top: 40px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }
        .divclassmm {
            float: right;
            width: 50%;
            height: 100%;
        }

        .divclassam .divb {
            height: 33.33333333%;
        }

        .divclasspm .divb {
            height: 50%;
        }

        .divclassmm .divb {
            height: 100%;
        }

        .divb {
            line-height: 22px;
            overflow: hidden;
            margin: auto;
            text-align: center;
            font-weight: 600;
        }

        .divb-border {
            border-bottom: 2px solid #333;
        }

        .divhead {
            text-align: center;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            vertical-align: top;
            border-color: #ddd;
            background: #fafafa;
        }
    </style>
    <style>
        .div-jc {
            /*display: none;*/
            position: absolute;
            height:838px;
            width: 92px;
            top: 82px;
            left: 10px;
            background-color: #fff;
            z-index: 99999;
            border-color: #ddd;
            background: #fafafa;
            color: #15a563;
        }
        .div-head {
            text-align: center;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            vertical-align: top;
            border-color: #ddd;
            background: #fafafa;
        }

            .div-jc .div-sw {
                height: 40.444%;
                border: 1px solid #333;
            }

            .div-jc .div-xw {
                height: 32.666%;
                border: 1px solid #333;
            }

            .div-jc .div-ws {
                height: 24.444%;
                border: 1px solid #333;
            }

        .div-am {
            padding-top: 147px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }

        .div-classam {
            float: right;
            width: 50%;
            height: 100%;
        }

        .div-pm {
            padding-top: 108px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }

        .div-classpm {
            float: right;
            width: 50%;
            height: 100%;
        }

        .div-mm {
            padding-top: 74px;
            padding-left: 10px;
            letter-spacing: 10px;
            word-wrap: break-word;
            font-size: 20px;
            width: 50%;
            float: left;
            height: 100%;
            border-right: 1px solid #333;
            text-align: center;
        }

        .div-classmm {
            float: right;
            width: 50%;
            height: 100%;
        }
        .div-classam .div-b {
            height: 20%;
            line-height: 18px;
            overflow: hidden;
            margin: auto;
            text-align: center;
            font-weight: 600;
            word-wrap: break-word;
            letter-spacing: 9px;
            padding-top: 15%;
            padding-left: 15%;
        }
        .div-classpm .div-b {
            height: 25%;
            line-height: 18px;
            overflow: hidden;
            margin: auto;
            text-align: center;
            font-weight: 600;
            word-wrap: break-word;
            letter-spacing: 9px;
            padding-top: 15%;
            padding-left: 15%;
        }
        .div-classmm .div-b {
            height: 33.333%;
            line-height: 14px;
            overflow: hidden;
            margin: auto;
            text-align: center;
            font-weight: 600;
            word-wrap: break-word;
            letter-spacing: 9px;
            padding-top: 18%;
            padding-left: 15%;
        }
        .duv-b-border {
            border-bottom: 1px solid #333;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <section class="content-header ml-12">
            <h1>@(classTableName)</h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-9 ml-12">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <!--left-->
                            <div class="div-jc">
                                <div class="div-head">节次</div>
                                <div class="div-sw">
                                    <div class="div-am"><span>上</span><span>午</span></div>
                                    <div class="div-classam">
                                        <div class="div-b duv-b-border">第一节</div>
                                        <div class="div-b duv-b-border">第二节</div>
                                        <div class="div-b duv-b-border">第三节</div>
                                        <div class="div-b duv-b-border">第四节</div>
                                        <div class="div-b">第五节</div>
                                    </div>
                                </div>
                                <div class="div-xw">
                                    <div class="div-pm">下午</div>
                                    <div class="div-classpm">
                                        <div class="div-b duv-b-border">第六节</div>
                                        <div class="div-b duv-b-border">第七节</div>
                                        <div class="div-b duv-b-border">第八节</div>
                                        <div class="div-b">第九节</div>
                                    </div>

                                </div>
                                <div class="div-ws">
                                    <div class="div-mm">晚上</div>
                                    <div class="div-classmm">
                                        <div class="div-b duv-b-border">第十节</div>
                                        <div class="div-b duv-b-border">第十一节</div>
                                        <div class="div-b">第十二节</div>
                                    </div>
                                </div>
                            </div>
                            <!--right-->
                            <div id='calendar'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
